/*Menu*/

/*Encabezados*/
.menu-title{
    font-size: 28px;
    text-align: start;
}

.cols-3-header{
    font-size: 24px;
}

.little-header{
    font-size: 20px;
    display: block;
}

.menu-price{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.menu-price h2{
    text-align: center  ;
    font-size: 10px;
}

.four-cols{
    font-size: 14px;
}

.four-cols h2:first-child{
    font-size: 8px;
    padding: 0;
    margin: 0;
}

/*End Encabezados*/

/* Product */
.price{
    display: flex;
    justify-content: center;
    align-items: center;

}

.price > p{
    display: block;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
}

.product-name{
    font-size: 14px;
    font-weight: bolder;
}

.dash-line{
    border-bottom: 1px solid rgb(177, 177, 177);
}
/* End Product */

/* View Controller*/
.disable{
    display: none;
}
/* End View Controller */