/*Menu*/

/*Encabezados*/
.menu-title{
    font-size: 28px;
    text-align: start;
    font-family: 'Catamaran', sans-serif;
}

.little-header{
    font-size: 22px;
    font-weight: bold;
    display: block;
}

.menu-price{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.menu-price h2{
    text-align: center  ;
    font-size: 10px;
}

.four-cols{
    font-size: 14px;
}

.four-cols h2:first-child{
    font-size: 8px;
    padding: 0;
    margin: 0;
}

/*End Encabezados*/

/* Product */
.price{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Catamaran', sans-serif;
}

.price > p{
    display: block;
    margin-bottom: 0;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
}


.product-name {
    display: flex;
    align-items: center;
}

.product-name > p{
    margin-bottom: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
    font-weight: bolder;
    font-family: 'Catamaran', sans-serif;
}

.dash-line{
    border-bottom: 1px solid rgb(177, 177, 177);
}
/* End Product */

/* View Controller*/
.disable{
    display: none;
}
/* End View Controller */

/* End Menu */